@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.fc .fc-day-sun {
  display: none;
}
/*.fc .fc-timeline-lane-frame,*/
/*.fc .fc-timeline-events,*/
/*.fc fc-scrollgrid-sync-inner,*/
/*.fc .fc-datagrid-cell-frame {*/
/*  !*min-height: 20px !important; !* Set minimum height for rows *!*!*/
/*  height: 25px !important; !* Set height for rows *!*/
/*  padding: 0!important;*/
/*}*/

/*.fc .fc-datagrid-cell-cushion,*/
/*.fc .fc-datagrid-cell-frame,*/
/*.fc fc-scrollgrid-sync-inner,*/
/*.fc .fc-timeline-event-harness {*/
/*  padding: 0px !important; !* Adjust padding as needed *!*/
/*  height: 25px !important;*/
/*  line-height: normal !important; !* Set height for rows *!*/
/*}*/
#external-events .fc-event {
  cursor: pointer;
  margin: 10px 0;
  padding: 8px;
  background-color: #3788d8;
  color: white;
  border-radius: 4px;
}
#external-events {
  padding: 1px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  text-align: left;
}

.fc-event {
  margin: 10px 0;
  padding: 1px;
  background: #3788d8;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}


